.footer
    a(href="#")
        i.fab.fa-facebook
    a(href="#")
        i.fab.fa-twitter
    a(href="#")
        i.fab.fa-instagram
    .copyright © Copyright Express Site 2020. All rights reserved.