doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='stylesheet', href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel='stylesheet', href="/style.css")
    body
        nav.navbar.navbar-dark.bg-dark.justify-content-center
            ul.nav
                li.nav-item
                    a.nav-link.active(href="/") Home
                li.nav-item
                    a.nav-link(href="/about-us/") About us
                li.nav-item
                    a.nav-link(href="/contact-us/") Contact
        block content

        include footer

